@model  Model.Entity.Matricula
<head>
    <style>
        [type="checkbox"]:checked + span:not(.lever):before {
            border-right: 2px solid #af2405;
            border-bottom: 2px solid #af2405;
        }
    </style>
</head>
<div id="modalCadastrar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text center">CADASTRAR ALUNO</h4>
        </div>
        <br /><br />
        <div class="col s12 l12">
            <form class="col s12 l12">
                <div class="input-field col s6">
                    <input placeholder="Ex: Ronaldo, Diego, Angela..." id="nome" type="text" class="validate">
                    <label for="nome">Nome do Aluno</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="dd/mm/aaaa" type="date" id="datadenascimento" class="validate">
                    <label for="datadenascimento">Data de Nascimento</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s6">
                    <p>
                        <label>
                            <input id="menorDeIdade" type="checkbox" />
                            <span>Menor de idade?</span>
                        </label>
                    </p>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s6">
                    <p>
                        <label>
                            <input id="gerarNota" type="checkbox" />
                            <span>Gerar nota?</span>
                        </label>
                    </p>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Nome do resposável, caso for menor de idade" type="text" id="resposavel" class="validate">
                    <label for="resposavel">Responsável</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Grau de parentesco" type="text" id="parentesco" class="validate">
                    <label for="parentesco">Grau de Parentesco</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Data Nascimento do Responsável" type="date" id="Nascimentoparentesco" class="validate">
                    <label for="Nascimentoparentesco">Data Nascimento do Responsável</label>
                </div>

                <div class="input-field col s4">
                    <input placeholder="Ex: 999.999.999-99" id="cpf" oninput="mascaraCPF(this)" type="text">
                    <label for="cpf">CPF</label>
                </div>

                <div class="input-field col s4">
                    <input placeholder="Ex: 99.999.999-9" id="rg" oninput="mascaraRG(this)" type="text">
                    <label for="rg">RG</label>
                </div>

                <div class="input-field col s4">
                    <input placeholder="Ex: email@email.com" id="email" type="email">
                    <label for="email">E-mail</label>
                </div>

                <div class="input-field col s4">
                    <input placeholder="Ex: 46361345, 84512574..." id="telefone" type="text" class="validate" maxlength="11">
                    <label for="telefone">Telefone</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Ex: 46361345, 84512574..." type="text" id="telefone2" class="validate">
                    <label for="telefone2">Telefone 2</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Ex: 46361345, 84512574..." type="text" id="telefone3" class="validate">
                    <label for="telefone3">Telefone 3</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Casa" id="contato" type="text" class="validate" maxlength="11">
                    <label for="contato">Descrição Telefone</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Celular" type="text" id="contato2" class="validate">
                    <label for="contato2">Descrição Telefone 2</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Celular" type="text" id="contato3" class="validate">
                    <label for="contato3">Descrição Telefone 3</label>
                </div>


                <div class="input-field col s6">
                    <input placeholder="Ex: 08568520..." onblur="PesquisaCEP()" id="cep" oninput="mascaraCEP(this)" type="text" class="validate" maxlength="9">
                    <label for="cep">CEP</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Av. Paulista..." id="endereco" type="text" class="validate" maxlength="45" disabled>
                    <label for="endereco">Endereco</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: 4300..." id="numero" type="number" class="validate" maxlength="5">
                    <label for="numero">Numero</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Penha, Vila Leopoldina..." id="bairro" type="text" class="validate" maxlength="30" disabled>
                    <label for="bairro">Bairro</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Poá, Suzano..." id="cidade" type="text" class="validate" maxlength="30" disabled>
                    <label for="cidade">Cidade</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: SP, MG..." id="estado" type="text" class="validate" disabled>
                    <label for="estado">Estado</label>
                </div>

                <div id="modalCadastroAluno" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Aluno Cadastrado!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a id="adicionar" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="Adicionar()">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
            <br /><br />
        </div>

        <div class="col s12 l12">

            <div class="col s12 l6">
                <h4 class="flow-text center subtitleModal" style="margin-top:25px;">TURMAS DISPONÍVEIS</h4>
            </div>
        </div>

        <table class="table highlight centered " id="tabelaAdicionar">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Tipo</th>
                    <th>Alunos na Turma</th>
                    <th>Professor</th>
                    <th>Dia da Semana</th>
                    <th>Horário Inícial</th>
                    <th>Horário FInal</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListaMatriculaTurma.Count == 0)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                } else
                {
                    foreach (var item in Model.ListaMatriculaTurma)
                    {
                        <tr>
                            <td class="left">
                                <label>
                                    <input type="checkbox" id="@item.Id" />
                                    <span>@item.Descricao</span>
                                </label>
                            </td>
                            <td>@item.Tipo</td>
                            <td>@item.Quantidade</td>
                            <td><strong>@item.Nome</strong></td>
                            <td>@item.DiaDaSemana</td>
                            <td>@item.HorarioInicial</td>
                            <td>@item.HorarioFinal</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <a id="fecharCadastrar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black" onclick="fazPDF()">Fechar</a>
        <a id="cadastrar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Adicionar()">Cadastrar</a>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.65/pdfmake.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.65/vfs_fonts.js'></script>

<script>

    let nomeMatriculado = 'Diego Souza';
    let rg = '432423';
    let cpf = '432423';
    let endereco = 'av. paulista';
    let numero = '32';
    let bairro = 'Bela Vista';
    let cep = '2123243-2';
    let estado = 'sao paulo';
    let cidade = 'sp';

    let nomeAcademia = 'Golfinho natacao';
    let ruaAcademia = 'rua';
    let numeroAcademia = '32';
    let bairroAcademia = 'osasco';
    let cidadeAcademia = 'sp';
    let cepAcademia = '321321';
    let estadoAcademia = 'sao paulo';
    let cnpjAcademia = '42423';

    var docDefinition = {
        content: [
            {
                text: 'CONTRATO DE PRESTAÇÃO DE SERVIÇOS\n\n',
                style: 'title'
            },
            {
                text: [
                    { text: 'CONTRATANTE: ', fontSize: 13, bold: true },
                    { text: `${nomeMatriculado}`, fontSize: 12, bold: true },
                    ', portador do RG: ',
                    { text: `${rg}`, fontSize: 12, bold: true },
                    ', CPF: ',
                    { text: `${cpf}`, fontSize: 12, bold: true },
                    ', residente e domiciliado na ',
                    { text: `${endereco}, ${numero}`, fontSize: 12, bold: true },
                    ', bairro ',
                    { text: `${bairro}`, fontSize: 12, bold: true },
                    ', CEP:',
                    { text: `${cep}`, fontSize: 12, bold: true },
                    ' Cidade de ',
                    { text: `${estado}`, fontSize: 12, bold: true },
                    ', Estado de ',
                    { text: `${cidade}`, fontSize: 12, bold: true },


                    '\n\n',
                ],

            },
            {
                text: [
                    { text: 'CONTRATADO: ', fontSize: 13, bold: true },
                    { text: `${nomeAcademia}`, fontSize: 12, bold: true },
                    ', com sede na Rua: ',
                    { text: `${ruaAcademia}`, fontSize: 12, bold: true },
                    ', numero: ',
                    { text: `${numeroAcademia}`, fontSize: 12, bold: true },
                    ', bairro ',
                    { text: `${bairroAcademia}`, fontSize: 12, bold: true },
                    ', cidade ',
                    { text: `${cidadeAcademia}`, fontSize: 12, bold: true },
                    ', CEP:',
                    { text: `${cepAcademia}`, fontSize: 12, bold: true },
                    ' no estado ',
                    { text: `${estadoAcademia}`, fontSize: 12, bold: true },
                    ',inscrita no CNPJ ',
                    { text: `${cnpjAcademia}`, fontSize: 12, bold: true },


                    '\n\n',
                ],

            },
            {
                text: [
                    'As partes acima identificadas têm, entre si, justo e acertado o presente Contrato de Prestação de Serviços de Academia de Ginástica, que se regerá pelas cláusulas seguintes e pelas condições descritas no presente.\n\n',

                ]

            }
        ],
        styles: {
            title: {
                fontSize: 15,
                bold: true,
                alignment: 'center'
            },

        }
    }

    const fazPDF = () => {
        pdfMake.createPdf(docDefinition).open();
    }

</script>