@model IList<Model.Entity.Unidade>

@{
    ViewData["Title"] = "Unidade";
}
    <nav class="clean" style="padding-right:2em; padding-left:2em; margin:1em">
            <div class="nav-wrapper">
                <div class="col s12">
                    <span class="left">
                        <a id="paginaPrincipal" href="@Url.Action("Index", "Principal")" class="breadcrumb">Principal</a>
                        <a href="#" class="breadcrumb">Cadastro</a>
                        <a id="paginaUnidade" href="@Url.Action("Index", "Unidade")" class="breadcrumb"><strong>Unidade</strong></a>
                    </span>
                </div>
            </div>
    </nav>


<div class="row" style="padding-right:2em; padding-left:2em; margin:3em">
    <a id="cadastrarUnidade" href="#modaCadastrar" class="btn waves-effect waves-light right modal-trigger">Cadastrar Unidade</a>

    <div id="modaCadastrar" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="flow-text center">CADASTRAR UNIDADE</h4>
            </div>
            <br /><br />

            <div class="col s12 l12">
                <form class="col s12 l12" id="formularioEditar">
                    <div class="input-field col s6">
                        <input placeholder="Ex: Osasco, Penha, Paulista" id="descricao" type="text" class="validate" maxlength="20">
                        <label for="descricao">Nome da Unidade</label>
                    </div>


                    <div class="input-field col s6">
                        <input placeholder="Ex: 46361345, 84512574..." id="telefone" type="text" class="validate" maxlength="11">
                        <label for="telefone">Telefone</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: 08568520..." onblur="PesquisaCEP()" id="cep" type="number" class="validate" maxlength="8">
                        <label for="cep">CEP</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: Av. Paulista..." id="endereco" type="text" class="validate" maxlength="45" disabled>
                        <label for="endereco">Endereco</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: 4300..." id="numero" type="number" class="validate" maxlength="5">
                        <label for="numero">Numero</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: Penha, Vila Leopoldina..." id="bairro" type="text" class="validate" maxlength="30" disabled>
                        <label for="bairro">Bairro</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: Poá, Suzano..." id="cidade" type="text" class="validate" maxlength="30" disabled>
                        <label for="cidade">Cidade</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: SP, MG..." id="estado" type="text" class="validate" disabled>
                        <label for="estado">Estado</label>
                    </div>

                    <div id="modalCadastroUnidade" class="modal">
                        <div class="modal-content">
                            <h4 class="flow-text center">Unidade Cadastrada!</h4>
                            <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="Adicionar()">sair</a>
                        </div>
                    </div>
                    <input id="idEditar" style="display: none;" />
                </form>
            </div>


        </div>
        <div class="modal-footer">
            <a id="fecharCadastrar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
            <a id="cadastrar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Adicionar()">Cadastrar</a>
        </div>
    </div>

</div>

<div style="padding-right:2em; padding-left:2em; margin:3em">

    @if (Model.Count > 0)
    {
        <table class="table highlight centered " id="tabelaCadastrar">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Endereço</th>
                    <th>Número</th>
                    <th>CEP</th>
                    <th>Telefone</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Descricao</td>
                        <td>@item.Endereco</td>
                        <td>@item.Numero</td>
                        <td>@item.CEP</td>
                        <td>@item.Telefone</td>
                        <td>@item.Bairro</td>
                        <td>@item.Cidade</td>
                        <td>@item.Estado</td>
                        <td>
                            <a id="editarUnidade" class="btn-floating btn-sm waves-effect waves-light yellow modal-trigger" href="#modalEditar" onclick="EditarModal('@item.Id', '@item.Descricao', '@item.Endereco',
            '@item.Numero', '@item.CEP','@item.Telefone', '@item.Bairro', '@item.Cidade', '@item.Estado', 'Editar')"><i class="material-icons" style="background-color:#f79f00">create</i></a>
                            <a id="deletarUnidade" class="btn-floating btn-sm waves-effect waves-light red modal-trigger" href="#modalDeletar" onclick="EditarModal('@item.Id', '@item.Descricao', '@item.Endereco',
            '@item.Numero', '@item.CEP','@item.Telefone', '@item.Bairro', '@item.Cidade', '@item.Estado', 'Deletar')"><i class="material-icons">delete_forever</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text center" id="editarUnidadeDescricao"></h4>
        </div>
        <br /><br />

        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioEditar">
                <div class="input-field col s6">
                    <input placeholder="Ex: Osasco, Penha, Paulista" id="descricaoEditar" type="text" class="validate" maxlength="20">
                    <label for="descricaoEditar">Nome da Unidade</label>
                </div>


                <div class="input-field col s6">
                    <input placeholder="Ex: 46361345, 84512574..." id="telefoneEditar" type="number" class="validate" maxlength="11">
                    <label for="telefoneEditar">Telefone</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: 08568520..." onblur="PesquisaCEPEditar()" id="cepEditar" type="number" class="validate" maxlength="8">
                    <label for="cepEditar">CEP</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Av. Paulista..." id="enderecoEditar" type="text" class="validate" disabled>
                    <label for="enderecoEditar">Endereco</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: 4300..." id="numeroEditar" type="number" class="validate" maxlength="8">
                    <label for="numeroEditar">Numero</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Penha, Vila Leopoldina..." id="bairroEditar" type="text" class="validate" maxlength="30" disabled>
                    <label for="bairroEditar">Bairro</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Poá, Suzano..." id="cidadeEditar" type="text" class="validate" maxlength="30" disabled>
                    <label for="cidadeEditar">Cidade</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: SP, MG..." id="estadoEditar" type="text" class="validate" disabled>
                    <label for="estadoEditar">Estado</label>
                </div>

                <div id="modalCadastroUnidade" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Unidade Cadastrada!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a id="fecharEditar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="editar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Editar()">Atualizar</a>
    </div>
</div>

<div id="modalDeletar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text center" id="deletarUnidadeDescricao"></h4>
        </div>
        <br /><br />

        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioDeletar">
                <div class="input-field col s6">
                    <input placeholder="Ex: Osasco, Penha, Paulista" id="descricaoDeletar" type="text" class="validate" readonly disabled>
                    <label for="descricaoDeletar">Nome da Unidade</label>
                </div>


                <div class="input-field col s6">
                    <input placeholder="Ex: Av. Paulista..." id="enderecoDeletar" type="text" class="validate" readonly disabled>
                    <label for="enderecoDeletar">Endereco</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: 46361345, 84512574..." id="telefoneDeletar" type="text" class="validate" readonly disabled>
                    <label for="telefoneDeletar">Telefone</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: 08568520..." onblur="PesquisaCEP()" id="cepDeletar" type="text" class="validate" readonly disabled>
                    <label for="cepDeletar">CEP</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: 4300..." id="numeroDeletar" type="text" class="validate" readonly disabled>
                    <label for="numeroDeletar">Numero</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Penha, Vila Leopoldina..." id="bairroDeletar" type="text" class="validate" readonly disabled>
                    <label for="bairroDeletar">Bairro</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Poá, Suzano..." id="cidadeDeletar" type="text" class="validate" readonly disabled>
                    <label for="cidadeDeletar">Cidade</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: SP, MG..." id="estadoDeletar" type="text" class="validate" readonly disabled>
                    <label for="estadoDeletar">Estado</label>
                </div>

                <div id="modalCadastroUnidade" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Unidade Cadastrada!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a id="fecharDeletar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="deletar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Deletar()">Deletar</a>
    </div>
</div>

@section scripts{
    <script>
        let valorId;
        let valorDescricao;
        let valorEndereco;
        let valorNumero;
        let valorCep;
        let valorTelefone;
        let valorBairro;
        let valorCidade;
        let valorEstado;
        function EditarModal(id, descricao, endereco, numero, cep, telefone, bairro, cidade, estado, model) {
            valorId = id;
            valorDescricao = descricao;
            valorEndereco = endereco;
            valorNumero = numero;
            valorCep = cep;
            valorTelefone = telefone;
            valorBairro = bairro;
            valorCidade = cidade;
            valorEstado = estado;
            document.getElementById("descricao" + model).value = descricao;
            document.getElementById("endereco" + model).value = endereco;
            document.getElementById("numero" + model).value = numero;
            document.getElementById("cep" + model).value = cep;
            document.getElementById("telefone" + model).value = telefone;
            document.getElementById("bairro" + model).value = bairro;
            document.getElementById("cidade" + model).value = cidade;
            document.getElementById("estado" + model).value = estado;
            if (model === "Editar") {
            document.getElementById("id" + model).value = id;
            document.getElementById("editarUnidadeDescricao").innerText = "Editar Unidade " + descricao;
            } else {
                document.getElementById("deletarUnidadeDescricao").innerText = "Tem certeza que deseja deletar a Unidade " + descricao +"?";
            }
        }

        function Deletar() {
            var unidade = {
                Id: valorId, Descricao: valorDescricao, Endereco: valorEndereco, Numero: valorNumero, CEP: valorCep, Telefone: valorTelefone, Bairro: valorBairro
                , Cidade: valorCidade, Estado: valorEstado};
            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Deletar","Unidade")",
                     data: { unidade: unidade},
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Deletado com sucesso!!!',  classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             default:
                         }
                }
            });
        });
        }

        function Editar() {
            var unidade = {
                Id: valorId, Descricao: valorDescricao, Endereco: valorEndereco, Numero: valorNumero, CEP: valorCep, Telefone: valorTelefone, Bairro: valorBairro
                , Cidade: valorCidade, Estado: valorEstado};
            var unidadeEditar = {
                Id: document.getElementById("idEditar").value, Descricao: document.getElementById("descricaoEditar").value, Endereco: document.getElementById("enderecoEditar").value, Numero: document.getElementById("numeroEditar").value,
                CEP: document.getElementById("cepEditar").value, Telefone: document.getElementById("telefoneEditar").value, Bairro: document.getElementById("bairroEditar").value
                , Cidade: document.getElementById("cidadeEditar").value, Estado: document.getElementById("estadoEditar").value};
            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Editar","Unidade")",
                     data: { unidade: unidade, unidadeEditar: unidadeEditar },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Editado com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        function PesquisaCEPEditar() {
            let cep = document.getElementById('cepEditar').value;
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("BuscaCep","Unidade")",
                     data: { cep: cep },
                     success: function (dados) {
                         document.getElementById('bairroEditar').value = dados.Bairro;
                         document.getElementById('enderecoEditar').value = dados.Endereco ;
                         document.getElementById('cidadeEditar').value = dados.Cidade ;
                         document.getElementById('estadoEditar').value = dados.Estado ;
                         }
                })
            });
        }

        function PesquisaCEP() {
            let cep = document.getElementById('cep').value;
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("BuscaCep","Unidade")",
                     data: { cep: cep },
                     success: function (dados) {
                         document.getElementById('bairro').value = dados.Bairro;
                         document.getElementById('endereco').value = dados.Endereco ;
                         document.getElementById('cidade').value = dados.Cidade ;
                         document.getElementById('estado').value = dados.Estado ;
                         }
                })
            });
        }

        function Adicionar() {
            var unidade = {
                Descricao: document.getElementById("descricao").value, Endereco: document.getElementById("endereco").value, Numero: document.getElementById("numero").value, CEP: document.getElementById("cep").value,
                Telefone: document.getElementById("telefone").value, Bairro: document.getElementById("bairro").value, Cidade: document.getElementById("cidade").value, Estado: document.getElementById("estado").value};
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Adicionar","Unidade")",
                     data: { unidade: unidade},
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Salvo com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        $(document).ready(function () {
            $('#tabelaCadastrar').dataTable();
        });
    </script>

}
