@model  Model.Entity.Colaborador
@{
    ViewData["Title"] = "Colaborador";
}

<!-- BREADCRUMB -->
    <nav class="nav-wrapper">
        <div class="col s12">
            <a href="@Url.Action("Index", "Principal")" class="breadcrumb">Principal</a>
            <a href="#" class="breadcrumb">Cadastro</a>
            <a href="@Url.Action("Index", "Colaborador")" class="breadcrumb"><strong>Colaborador</strong></a>
        </div>
    </nav>

<div class="row container">
    <div class="col s12 l12">
        <a href="#modalCadastrar" class="btn waves-effect waves-light modal-trigger right">Cadastrar Colaborador</a>
    </div>
</div>

<div id="modalCadastrar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Cadastrar Colaborador</h4>
        </div>

        <div class="col s12 l12">
            <form class="col s12 l12">

                <div class="input-field col s6">
                    <input placeholder="Ex: Ronaldo, Diego, Angela..." id="nome" type="text" class="validate">
                    <label for="nome">Nome do Funcionário</label>
                </div>

                <div class="input-field col s6">

                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn' href='#' data-target='funcaoCadastrar' id="textoDropDownCadastrar">Selecione a Função</a>
                    <!-- Dropdown Structure -->
                    <ul id='funcaoCadastrar' class='dropdown-content'>
                        @foreach (var item in Model.ListaFuncao)
                        {
                            <li><a onclick="editaSelecionado('@item.TipoFuncao', '@item.Id', 'Cadastrar')">@item.TipoFuncao</a></li>
                        }
                    </ul>
                </div>
                @*<div class="input-field col s6">
                        <input type="date" id="datadenascimento" class="validate">
                        <label for="datadenascimento">Data de Nascimento</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="cpf" oninput="mascaraCPF(this)" type="text">
                        <label for="cpf">CPF</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="rg" oninput="mascaraRG(this)" type="text">
                        <label for="rg">RG</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Ex: 46361345, 84512574..." id="telefone" type="text" class="validate" maxlength="11">
                        <label for="telefone">Telefone</label>
                    </div>*@

                <div id="modalCadastroColaborador" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Colaborador Cadastrado!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="Adicionar()">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Adicionar()">Cadastrar</a>
    </div>
</div>

@if (Model.ListaColaborador.Count > 0)
{
    <table class="table highlight centered container ">
        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaColaborador)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcao.TipoFuncao)
                    </td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light yellow modal-trigger" href="#modalEditar" onclick="EditarModal('@item.Id', '@item.Nome', '@item.Funcao.Id',
                                                                                                                                                      'Editar', '@item.Funcao.TipoFuncao')"><i class="material-icons" style="background-color:#f79f00">create</i></a>
                        <a class="btn-floating btn-sm waves-effect waves-light red modal-trigger" href="#modalDeletar" onclick="EditarModal('@item.Id', '@item.Nome', '@item.Funcao.Id',
                                                                                                                                                      'Deletar', '@item.Funcao.TipoFuncao')"><i class="material-icons">delete_forever</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="editarColaboradorNome"></h4>
        </div>

            <div class="col s12 l12">
                <form class="col s12 l12">
                    <div class="input-field col s6">
                        <input placeholder="Ex: Ronaldo, Diego, Angela..." id="nomeEditar" type="text" class="validate">
                        <label for="nomeEditar">Nome do Funcionário</label>
                    </div>

                    @*<div class="input-field col s6">
            <select id="funcaoEditar" class="validate" asp-items="@(new SelectList(item.Funcoes, "Id", "TipoFuncao"))">
                <option value="" disabled selected>Selecione uma função</option>
            </select>
            <label for="funcaoEditar">Cargo</label>
        </div>*@
                <div class="input-field col s6">
                    <a class='dropdown-trigger2 btn' href='#' data-target='funcaoEditar' id="textoDropDownEditar">Selecione a Função</a>
                    <!-- Dropdown Structure -->
                    <ul id='funcaoEditar' class='dropdown-content'>
                        @foreach (var item in Model.ListaFuncao)
                        {
                            <li><a onclick="editaSelecionado('@item.TipoFuncao', '@item.Id', 'Editar')">@item.TipoFuncao</a></li>
                        }
                    </ul>

                    @*<select id="funcao" class="validate" asp-items="@(new SelectList(Model.ListaFuncao, "Id", "TipoFuncao"))">
        </select>
        <label for="funcao">Cargo</label>*@

                </div>

                    <div id="modalCadastroColaborador" class="modal">
                        <div class="modal-content">
                            <h4 class="flow-text center">Colaborador Cadastrado!</h4>
                            <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                        </div>
                    </div>
                    <input id="idEditar" style="display: none;" />
                </form>
            </div>
        
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Editar()">Atualizar</a>
    </div>
</div>


<div id="modalDeletar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="deletarColaboradorNome"></h4>
        </div>
    

            <div class="col s12 l12">
                <form class="col s12 l12">
                    <div class="input-field col s6">
                        <input disabled placeholder="Ex: Ronaldo, Diego, Angela..." id="nomeDeletar" type="text" class="validate">
                        <label for="nomeDeletar">Nome do Funcionário</label>
                    </div>

                    <div class="input-field col s6">
                        @*<select disabled id="funcaoDeletar" class="validate" asp-items="@(new SelectList(item.Funcoes, "Id", "TipoFuncao"))">
        </select>
        <label for="funcaoDeletar">Cargo</label>*@
                        <a disabled class='dropdown-trigger btn' href='#' data-target='funcaoDeletar' id="textoDropDownDeletar">Selecione a Função</a>
                        <!-- Dropdown Structure -->
                        <ul id='funcaoDeletar' class='dropdown-content'>
                            @foreach (var item in Model.ListaFuncao)
                            {
                                <li><a onclick="editaSelecionado('@item.TipoFuncao', '@item.Id', 'Deletar')">@item.TipoFuncao</a></li>
                            }
                        </ul>
                    </div>
                    <div id="modalCadastroColaborador" class="modal">
                        <div class="modal-content">
                            <h4 class="flow-text center">Colaborador Cadastrado!</h4>
                            <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                        </div>
                    </div>
                    <input id="idEditar" style="display: none;" />
                </form>
            </div>
        

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Deletar()">Deletar</a>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        let valorId;
        let valorNome;
        let valorFuncao;

        function EditarModal(id, nome, funcao, model, tipoFuncao) {
            
            valorId = id;
            valorNome = nome;
            valorFuncao = funcao;

            document.getElementById("nome" + model).value = nome;
            document.getElementById('textoDropDown' + model).text = tipoFuncao;
            document.getElementById('textoDropDown' + model).FuncaoId = funcao;
            //document.getElementById("funcao" + model).value = funcao;

            if (model === "Editar") {
            document.getElementById("id" + model).value = id;
            document.getElementById("editarColaboradorNome").innerText = "Editar Colaborador " + nome;
            } else {
                document.getElementById("deletarColaboradorNome").innerText = "Tem certeza que deseja deletar o Colaborador " + nome +"?";
            }
        }

        function Deletar() {
            var colaborador = {
                Id: valorId,
                Nome: valorNome,
                FuncaoId: valorFuncao
            };
            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Deletar","Colaborador")",
                     data: { colaborador: colaborador},
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Deletado com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             default:
                         }
                }
            });
        });
        }

        function Editar() {
            
            var colaborador = {
                Id: valorId, Nome: valorNome, FuncaoId: valorFuncao};
            var colaboradorEditar = {
                Id: document.getElementById("idEditar").value,
                Nome: document.getElementById("nomeEditar").value,
                FuncaoId: document.getElementById('textoDropDownEditar').FuncaoId
            };
            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Editar","Colaborador")",
                     data: { colaborador: colaborador, colaboradorEditar: colaboradorEditar },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                                 break;
                             case true:
                                 M.toast({ html: 'Editado com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        function Adicionar() {
                    var colaborador = {
                        Nome: document.getElementById("nome").value,
                        FuncaoId: document.getElementById('textoDropDownCadastrar').FuncaoId,
            };
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Adicionar","Colaborador")",
                     data: { colaborador: colaborador},
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                                 break;
                             case true:
                                 M.toast({ html: 'Salvo com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }
        $(document).ready(function(){
          $('.modal').modal();
        });

        function mascaraCPF(i) {

            var v = i.value;

            if (isNaN(v[v.length - 1])) { // impede entrar outro caractere que não seja número
                i.value = v.substring(0, v.length - 1);
                return;
            }

            i.setAttribute("maxlength", "14");
            if (v.length == 3 || v.length == 7) i.value += ".";
            if (v.length == 11) i.value += "-";

        }

        function mascaraRG(i) {

            var v = i.value;

            if (isNaN(v[v.length - 1])) { // impede entrar outro caractere que não seja número
                i.value = v.substring(0, v.length - 1);
                return;
            }

            i.setAttribute("maxlength", "12");
            if (v.length == 2 || v.length == 6) i.value += ".";
            if (v.length == 10) i.value += "-";
        }

        function editaSelecionado(funcao, id, model) {
            
            document.getElementById('textoDropDown' + model).text = funcao;
            document.getElementById('textoDropDown' + model).FuncaoId = id;
        }
    </script>
}