@model Model.Entity.Turma

@{
    ViewData["Title"] = "Turma";
}

<!-- BREADCRUMB -->
<nav class="clean containerConfigurado">
    <div class="nav-wrapper">
        <div class="col s12">
            <span class="left">
                <a id="paginaPrincipal" href="@Url.Action("Index", "Principal")" class="breadcrumb">Principal</a>
                <a href="#" class="breadcrumb">Cadastros</a>
                <a id="paginaTurma" href="@Url.Action("Index", "Turma")" class="breadcrumb"><strong>Turma</strong></a>
            </span>
        </div>
    </div>
</nav>


<div class="row containerConfigurado">
    <a id="cadastrarTurma" href="#modaCadastrar" class="btn waves-effect waves-light right modal-trigger">Cadastrar Turma</a>

    <div id="modaCadastrar" class="modal">
        <div class="modal-content" style="height:600px;">
            <div class="modal-header">
                <h4 class="flow-text center">CADASTRAR TURMA</h4>
            </div>
            <br /><br />

            <div class="col s12 l12">
                <form class="col s12 l12" id="formularioEditar">

                    <div class="input-field col s6">
                        <input placeholder="Ex: Turma de Karate, Turma de Natação, Turma de Ginástica" id="descricao" type="text" class="validate" maxlength="25">
                        <label for="descricao">Nome da Turma</label>
                    </div>

                    <div class="input-field col s6">
                 
                        <select multiple id="diasdasemanaDropDownCadastrar">
                            <option value="" disabled selected>Dias da Semana: </option>
                            @foreach (var item in Model.DiasDaSemana)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <label>Dias da semana</label>
                    </div>

                    <div class="input-field col s4">
                       
                        <select id="nomeDropDownCadastrar">
                            <option value="" disabled selected>Responsável pela Turma</option>
                            @foreach (var item in Model.ListaColaborador)
                            {
                                <option value="@item.Id">@item.Nome</option>
                            }
                        </select>
                        <label>Responsável pela Turma</label>

                    </div>

                    <div class="input-field col s4">
                        <select id="tipoDropDownCadastrar">
                            <option value="" disabled selected>Faixa Etária</option>
                            @foreach (var item in Model.TipoClientes)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <label>Faixa Etária</label>
                    </div>

                    <div class="input-field col s4">
                        <select id="modalidadeDropDownCadastrar">
                            <option value="" disabled selected>Selecione a Modalidade</option>
                            @foreach (var item in Model.ListaModalidade)
                            {
                                <option value="@item.Id">@item.TipoModalidade</option>
                            }
                        </select>
                        <label>Selecione a Modalidade</label>

                    </div>

                    <div class="input-field col s6">
                        <input min="08:00" max="22:00" id="horarioinicial" type="time" class="validate" maxlength="5">
                        <label for="horarioinicial">Horario Inicial</label>
                    </div>

                    <div class="input-field col s6">
                        <input min="08:00" max="22:00" id="horariofinal" type="time" class="validate" maxlength="5">
                        <label for="horariofinal">Horario Final</label>
                    </div>

                    <div class="input-field col s6">

                        <select id="unidadeDropDownCadastrar">
                            <option value="" disabled selected>Selecione a Unidade</option>
                            @foreach (var item in Model.ListaUnidade)
                            {
                                <option value="@item.Id">@item.Descricao</option>
                            }
                        </select>
                        <label>Selecione a Unidade</label>


                    </div>

                    <div id="modalCadastroTurma" class="modal">
                        <div class="modal-content">
                            <h4 class="flow-text center">Turma Cadastrada!</h4>
                            <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="Adicionar()">sair</a>
                        </div>
                    </div>
                    <input id="idEditar" style="display: none;" />
                </form>
            </div>


        </div>
        <div class="modal-footer">
            <a id="fecharCadastrar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
            <a id="cadastrar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Adicionar()">Cadastrar</a>
        </div>
    </div>

</div>


<div class="containerConfigurado">

        @if (Model != null)
        {
            <table id="tabelaTurma" class="table highlight">
                <thead>
                    <tr>
                        <th>Turma</th>
                        <th>Professor</th>
                        <th>Tipo</th>
                        <th>Dia da semana</th>
                        <th>Horario Inicial</th>
                        <th>Horario Final</th>
                        <th>Unidade</th>
                        <th>Modalidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var turma in Model.ListaTurma)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => turma.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => turma.Colaborador.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => turma.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => turma.DiaDaSemana)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => turma.HorarioInicial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => turma.HorarioFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => turma.Unidade.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => turma.Modalidade.TipoModalidade)
                            </td>
                            <td>
                                <a id="editarTurma" class="btn-floating btn-sm waves-effect waves-light yellow modal-trigger" href="#modalEditar" onclick="EditarModal('@turma.Id', '@turma.Descricao', '@turma.Colaborador.Id',
                '@turma.Tipo', '@turma.DiaDaSemana','@turma.HorarioInicial', '@turma.HorarioFinal', '@turma.Unidade.Id', '@turma.Modalidade.Id', 'Editar', '@turma.Colaborador.Nome', '@turma.Unidade.Descricao', '@turma.Modalidade.TipoModalidade')"><i class="material-icons" style="background-color:#f79f00">create</i></a>
                                <a id="deletarTurma" class="btn-floating btn-sm waves-effect waves-light red modal-trigger" href="#modalDeletar" onclick="EditarModal('@turma.Id', '@turma.Descricao', '@turma.Colaborador.Id',
                '@turma.Tipo', '@turma.DiaDaSemana','@turma.HorarioInicial', '@turma.HorarioFinal', '@turma.Unidade.Id', '@turma.Modalidade.Id', 'Deletar', '@turma.Colaborador.Nome', '@turma.Unidade.Descricao', '@turma.Modalidade.TipoModalidade')"><i class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
</div>

<div id="modalEditar" class="modal">
    <div class="modal-content" style="height:600px;">
        <div class="modal-header">
            <h4 class="flow-text center" id="editarTurmaDescricao"></h4>
        </div>
        <br /><br />


        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioEditar">

                <div class="input-field col s6">
                    <input placeholder="Ex: Turma de Karate, Turma de Natação, Turma de Ginástica" id="descricaoEditar" type="text" class="validate" maxlength="25">
                    <label for="descricaoEditar">Nome da Turma</label>
                </div>

                <div class="input-field col s6" id="diasdasemanaEditar">
               
                    <select multiple id="diasdasemanaDropDownEditar">

                        @foreach (var item in Model.DiasDaSemana)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <label>Dias da semana</label>
                </div>

                <div id="nomeEditar" class="input-field col s4">
               
                    <select id="nomeDropDownEditar">
                        @foreach (var item in Model.ListaColaborador)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </select>
                    <label>Responsável pela Turma</label>
                </div>

                <div id="tipoEditar" class="input-field col s4">


                    <select id="tipoDropDownEditar">
                        @foreach (var item in Model.TipoClientes)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <label>Faixa Etária</label>

                </div>

                <div id="modalidadeEditar" class="input-field col s4">
                 
                    <select id="modalidadeDropDownEditar">
                        @foreach (var item in Model.ListaModalidade)
                        {
                            <option value="@item.Id">@item.TipoModalidade</option>
                        }
                    </select>
                    <label>Selecione a Modalidade</label>

                </div>



                <div class="input-field col s6">
                    <input min="08:00" max="22:00" id="horarioinicialEditar" type="time" class="validate" maxlength="5">
                    <label for="horarioinicialEditar">Horario Inicial</label>
                </div>

                <div class="input-field col s6">
                    <input min="08:00" max="22:00" id="horariofinalEditar" type="time" class="validate" maxlength="5">
                    <label for="horariofinalEditar">Horario Final</label>
                </div>

                <div id="unidadeEditar" class="input-field col s6">
                    <select id="unidadeDropDownEditar">
                        @foreach (var item in Model.ListaUnidade)
                        {
                            <option value="@item.Id">@item.Descricao</option>
                        }
                    </select>
                    <label>Selecione a Unidade</label>
                </div>


                <div id="modalCadastroTurma" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Turma Cadastrada!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <a id="fecharEditar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="editar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Editar()">Atualizar</a>
    </div>
</div>

<div id="modalDeletar" class="modal">
    <div class="modal-content" style="height:600px;">
        <div class="modal-header">
            <h4 class="flow-text center" id="deletarTurmaDescricao"></h4>
        </div>

        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioDeletar">
                <div class="input-field col s6">
                    <input disabled placeholder="Ex: Turma de Karate, Turma de Natação, Turma de Ginástica" id="descricaoDeletar" type="text" class="validate" maxlength="25">
                    <label for="descricaoDeletar">Nome da Turma</label>
                </div>

                <div class="input-field col s6" id="diasdasemanaDeletar">
                    @*<select disabled id="diasdasemanaDeletar" class="validate">
            </select>
            <label for="diasdasemanaDeletar">Dias da semana</label>*@

                    @*<a disabled class='dropdown-trigger8 btn' href='#' data-target='diasdasemanaDeletar' id="diasdasemanaDropDownDeletar">Selecione o Dia</a>
            <!-- Dropdown Structure -->
            <ul id='diasdasemanaDeletar' class='dropdown-content'>
                @foreach (var item in Model.DiasDaSemana)
                {
                    <li><a onclick="editaDiasDaSemanaSelecionado('@item', 'Deletar')">@item</a></li>
                }
            </ul>*@
                    <select disabled multiple id="diasdasemanaDropDownDeletar">
                        @foreach (var item in Model.DiasDaSemana)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <label>Dias da semana</label>
                </div>

                <div id="nomeDeletar" class="input-field col s4">
                    @*<select disabled id="nomeDeletar" class="validate">
            </select>
            <label for="nomeDeletar">Professor</label>*@

                    <select disabled id="nomeDropDownDeletar">
                        @foreach (var item in Model.ListaColaborador)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </select>
                    <label>Responsável pela Turma</label>
                </div>

                <div id="tipoDeletar" class="input-field col s4">
                    @*<select disabled id="tipoDeletar" class="validate">
            </select>
            <label for="tipoDeletar">Tipo</label>*@

                    <select disabled id="tipoDropDownDeletar">
                        @foreach (var item in Model.TipoClientes)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <label>Faixa Etária</label>

                </div>

                <div id="modalidadeDeletar" class="input-field col s4">

                    <select disabled id="modalidadeDropDownDeletar">
                        @foreach (var item in Model.ListaModalidade)
                        {
                            <option value="@item.Id">@item.TipoModalidade</option>
                        }
                    </select>
                    <label>Selecione a Modalidade</label>

                </div>

                <div class="input-field col s6">
                    <input disabled min="08:00" max="22:00" id="horarioinicialDeletar" type="time" class="validate" maxlength="5">
                    <label for="horarioinicialDeletar">Horario Inicial</label>
                </div>

                <div class="input-field col s6">
                    <input disabled min="08:00" max="22:00" id="horariofinalDeletar" type="time" class="validate" maxlength="5">
                    <label for="horariofinalDeletar">Horario Final</label>
                </div>


                <div id="unidadeDeletar" class="input-field col s6">
                    <select disabled id="unidadeDropDownDeletar">
                        @foreach (var item in Model.ListaUnidade)
                        {
                            <option value="@item.Id">@item.Descricao</option>
                        }
                    </select>
                    <label>Selecione a Unidade</label>
                </div>

                <div id="modalCadastroTurma" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Turma Cadastrada!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <a id="fecharDeletar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="deletar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Deletar()">Deletar</a>
    </div>
</div>


@section scripts{
    <script>

        let valorId;
        let valorDescricao;
        let valorNome;
        let valorTipo;
        let valorDiasDaSemana;
        let valorHorarioInicial;
        let valorHorarioFinal;
        let valorUnidade;
        let valorModalidade;

        $(document).ready(function () {
            $('#tabelaTurma').DataTable();
        });

        function EditarModal(id, descricao, nome, tipo, diasdasemana, horarioinicial, horariofinal, unidade, modalidade, model, nomeColaborador, unidadeDescricao, modalidadeTipoModalidade) {
            valorId = id;
            valorDescricao = descricao;
            valorNome = nome;
            valorTipo = tipo;
            valorDiasDaSemana = diasdasemana;
            valorHorarioInicial = horarioinicial;
            valorHorarioFinal = horariofinal;
            valorUnidade = unidade;
            valorModalidade = modalidade;

            document.getElementById("descricao" + model).value = descricao;
            //document.getElementById("nome" + model).value = nome;
            $('#nome' + model)[0].children[0].children[0].value = nomeColaborador;
            //document.getElementById("tipo" + model).value = tipo;
            $('#tipo' + model)[0].children[0].children[0].value = tipo;
            $('#diasdasemana' + model)[0].children[0].children[0].value = diasdasemana;
            document.getElementById("horarioinicial" + model).value = horarioinicial;
            document.getElementById("horariofinal" + model).value = horariofinal;
            //document.getElementById("unidade" + model).value = unidade;
            $('#unidade' + model)[0].children[0].children[0].value = unidadeDescricao;
            //document.getElementById("modalidade" + model).value = modalidade;
            $('#modalidade' + model)[0].children[0].children[0].value = modalidadeTipoModalidade;


            //document.getElementById('nomeDropDown' + model).text = nomeColaborador;
            document.getElementById('nomeDropDown' + model).ColaboradorId = nome;

            document.getElementById('tipoDropDown' + model).text = tipo;

            //document.getElementById('diasdasemanaDropDown' + model).text = diasdasemana;

            //document.getElementById('unidadeDropDown' + model).text = unidadeDescricao;
            document.getElementById('unidadeDropDown' + model).UnidadeId = unidade;

            //document.getElementById('modalidadeDropDown' + model).text = modalidadeTipoModalidade;
            document.getElementById('modalidadeDropDown' + model).ModalidadeId = modalidade;

            if (model === "Editar") {
            document.getElementById("id" + model).value = id;
            document.getElementById("editarTurmaDescricao").innerText = "Editar " + descricao;
                var diaSelecionado = valorDiasDaSemana.replace(" ", "").split(',');
                    for (var i = 0; i <= $('#diasdasemanaDropDownEditar')[0].length; i++) {
                        if (diaSelecionado.includes($('#diasdasemanaDropDownEditar')[0].children[i].value)) {
                            $('#diasdasemanaDropDownEditar')[0].children[i].selected = true;
                            break;
                        }
                    }

                for (i = 0; i < $('#nomeDropDownEditar')[0].length; i++) {
                    if ($('#nomeDropDownEditar')[0].children[i].value == nome) {
                        $('#nomeDropDownEditar')[0].children[i].selected = true;
                    }
                }


                for (i = 0; i < $('#tipoDropDownEditar')[0].length; i++) {
                    if ($('#tipoDropDownEditar')[0].children[i].value == tipo) {
                        $('#tipoDropDownEditar')[0].children[i].selected = true;
                    }
                }

                for (i = 0; i < $('#modalidadeDropDownEditar')[0].length; i++) {
                    if ($('#modalidadeDropDownEditar')[0].children[i].value == modalidade) {
                        $('#modalidadeDropDownEditar')[0].children[i].selected = true;
                    }
                }

                for (i = 0; i < $('#unidadeDropDownEditar')[0].length; i++) {
                    if ($('#unidadeDropDownEditar')[0].children[i].value == unidade) {
                        $('#unidadeDropDownEditar')[0].children[i].selected = true;
                    }
                }

            }
            else
            {
                document.getElementById("deletarTurmaDescricao").innerText = "Tem certeza que deseja deletar " + descricao +"?";
            }
        }
        function Deletar() {
            var turma = {
                Id: valorId,
                Descricao: valorDescricao,
                ColaboradorId: valorNome,
                Tipo: valorTipo,
                DiaDaSemana: valorDiasDaSemana,
                HorarioInicial: valorHorarioInicial,
                HorarioFinal: valorHorarioFinal,
                UnidadeId: valorUnidade,
                ModalidadeId: valorModalidade
            };
            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Deletar","Turma")",
                     data: { turma: turma},
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Deletado com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             default:
                         }
                }
            });
        });
        }
        function Editar() {
            var turma = {
                Id: valorId, Descricao: valorDescricao, ColaboradorId: valorNome, Tipo: valorTipo, DiaDaSemana: valorDiasDaSemana, HorarioInicial: valorHorarioInicial, HorarioFinal: valorHorarioFinal
                , UnidadeId: valorUnidade, ModalidadeId: valorModalidade};
            var turmaEditar = {
                Id: document.getElementById("idEditar").value,
                Descricao: document.getElementById("descricaoEditar").value,
                ColaboradorId: $('#nomeDropDownEditar').val(),
                Tipo: $('#tipoDropDownEditar').val(),
                DiaDaSemana: $('#diasdasemanaEditar')[0].children[0].children[0].value,
                HorarioInicial: document.getElementById("horarioinicialEditar").value,
                HorarioFinal: document.getElementById("horariofinalEditar").value,
                UnidadeId: $('#unidadeDropDownEditar').val(),
                ModalidadeId: $('#modalidadeDropDownEditar').val()
            };
            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Editar","Turma")",
                     data: { turma: turma, turmaEditar: turmaEditar },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                                 break;
                              case "Horario inválido":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Editado com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        function Adicionar() {
                    var turma = {
                        Descricao: document.getElementById("descricao").value,
                        ColaboradorId: $('#nomeDropDownCadastrar').val(),
                        Tipo: $('#tipoDropDownCadastrar').val(),
                        DiaDaSemana: $('#diasdasemanaDropDownCadastrar').val().join(),
                        HorarioInicial: document.getElementById("horarioinicial").value,
                        HorarioFinal: document.getElementById("horariofinal").value,
                        UnidadeId: $('#unidadeDropDownCadastrar').val(),
                        ModalidadeId: $('#modalidadeDropDownCadastrar').val()
            };
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Adicionar","Turma")",
                     data: { turma: turma},
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                                 break;
                             case "Horário inicial não pode ser maior que o final.":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                                 break;
                             case "Professor já tem aula nesse horário.":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Salvo com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }
        $(document).ready(function(){
          $('.modal').modal();
        });

        function editaColaboradorSelecionado(nome, id, model) {

            document.getElementById('nomeDropDown' + model).text = nome;
            document.getElementById('nomeDropDown' + model).ColaboradorId = id;
        }

        function editaTipoSelecionado(tipo, model) {

            document.getElementById('tipoDropDown' + model).text = tipo;
        }

        function editaDiasDaSemanaSelecionado(dia, model) {

            document.getElementById('diasdasemanaDropDown' + model).text = dia;
        }

        function editaUnidadeSelecionado(descricao, id, model) {
            document.getElementById('unidadeDropDown' + model).text = descricao;
            document.getElementById('unidadeDropDown' + model).UnidadeId = id;
        }

        function editaModalidadeSelecionado(modalidade, id, model) {
            document.getElementById('modalidadeDropDown' + model).text = modalidade;
            document.getElementById('modalidadeDropDown' + model).ModalidadeId = id;
        }

    </script>

}