@model IList<Model.Entity.Modalidade>
@{
    ViewData["Title"] = "Modalidade";
}

<nav class="clean container">
    <div class="nav-wrapper">
        <div class="col s12">
            <span class="left">
                <a href="@Url.Action("Index", "Principal")" class="breadcrumb">Principal</a>
                <a href="#" class="breadcrumb">Cadastro</a>
                <a href="@Url.Action("Index", "Modalidade")" class="breadcrumb"><strong>Modalidade</strong></a>
            </span>
        </div>
    </div>
</nav>


<div class="row container">
    <div class="col s12 l12">
        <a class="btn waves-effect waves-light modal-trigger right" href="#cadastrarModalidade">Cadastrar Modalidade</a>
    </div>
</div>
<div id="cadastrarModalidade" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text">Cadastrar Modalidade </h4>
        </div>

        <br /><br />
        <div class="col s12 l12">
            <div class="col s12 l12"><h4 class="flow-text subtitleModal">DADOS PESSOAIS</h4></div>
        </div>

        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioDeletar">
                <div class="input-field col s6">
                    <input placeholder="Ex:Natação, Hidroginastica, Musculação, Judô..." id="modalidade" type="text" class="validate" maxlength="20">
                    <label for="modalidade">Nome da Modalidade</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ex: Esporte..." id="descricao" type="text" class="validate" maxlength="50">
                    <label for="descricao">Descrição</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Adicionar()">Cadastrar</a>
    </div>
</div>
<div class="row container">
    <div class="col s12 l12">
        @if (Model.Count > 0)
        {
        <table class="highlight centered tabela" id="tabelaPrincipal">
            <thead>
                <tr>
                    <th>Modalidade</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>@item.TipoModalidade</td>
                    <td>@item.Descricao</td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light yellow modal-trigger" href="#modalEditar" onclick="EditarModal('@item.TipoModalidade', '@item.Descricao', '@item.Id','Editar')"><i class="material-icons" style="background-color:#f79f00">create</i></a>
                        <a class="btn-floating btn-sm waves-effect waves-light red modal-trigger" href="#modalDeletar" onclick="EditarModal('@item.TipoModalidade', '@item.Descricao', '@item.Id','Deletar')"><i class="material-icons">delete_forever</i></a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
        }
    </div>
</div>
<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text" id="editarModalidadeDescricao"></h4>
        </div>
        <br /><br />
        <div class="col s12 l12">
            <div class="col s12 l12"><h4 class="flow-text subtitleModal">DADOS PESSOAIS</h4></div>
        </div>

        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioEditar">
                <div class="input-field col s6">
                    <input placeholder="Ex:Natação, Hidroginastica, Musculação, Judô..." id="modalidadeEditar" type="text" class="validate">
                    <label for="modalidadeEditar">Nome da Modalidade</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ex: Esporte..." id="descricaoEditar" type="text" class="validate">
                    <label for="descricaoEditar">Descrição</label>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Editar()">Atualizar</a>
    </div>
</div>
<div id="modalDeletar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="deletarModalidadeDescricao"></h4>
            @*<h4>Tem certeza que deseja deletar a modalidade'tal'? </h4>*@
        </div>
        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioDeletar">
                <div class="input-field col s6">
                    <input placeholder="Ex:Natação, Hidroginastica, Musculação, Judô..." readonly id="modalidadeDeletar" type="text" class="validate" disabled>
                    <label for="modalidadeDeletar">Nome da Modalidade</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ex: Esporte..." id="descricaoDeletar" type="text" class="validate" readonly disabled>
                    <label for="descricaoDeletar">Descrição</label>
                </div>
                <input id="idDeletar" style="display: none;" />
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Deletar()">Deletar</a>
    </div>
</div>
@section scripts{
    <script>
        var valorModalidade;
        var valorDescricao;
        var valorId;
        function Adicionar() {
            var modalidade = { TipoModalidade: document.getElementById("modalidade").value, Descricao: document.getElementById("descricao").value, Ativo: true };
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Adicionar","Modalidade")",
                     data: { modalidade: modalidade },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Salvo com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essa Modalidade no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        function EditarModal(modalidade, descricao, id, model) {
            valorModalidade = modalidade;
            valorDescricao = descricao;
            valorId = id;
            if (model === 'Editar') {
                document.getElementById("modalidadeEditar").value = modalidade;
                document.getElementById("descricaoEditar").value = descricao;
                document.getElementById("idEditar").value = id;
                document.getElementById("editarModalidadeDescricao").innerText = "Editar Modalidade " + descricao;
            } else {
                document.getElementById("modalidadeDeletar").value = modalidade;
                document.getElementById("descricaoDeletar").value = descricao;
                document.getElementById("idDeletar").value = id;
                document.getElementById("deletarModalidadeDescricao").innerText = "Tem certeza que deseja deletar a Modalidade " + descricao + "?";

         }
        }

        function Editar(modalidade, descricao) {
            var modalidade = { TipoModalidade: valorModalidade, Descricao: valorDescricao };
            var modalidadeEditar = { TipoModalidade: document.getElementById("modalidadeEditar").value, Descricao: document.getElementById("descricaoEditar").value, Ativo: true, Id : document.getElementById("idEditar").value };
            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Editar","Modalidade")",
                     data: { modalidade: modalidade, modalidadeEditar: modalidadeEditar },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Editado com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essa Modalidade no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        function Adicionar() {
            var modalidade = { TipoModalidade: document.getElementById("modalidade").value, Descricao: document.getElementById("descricao").value, Ativo: true };
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Adicionar","Modalidade")",
                     data: { modalidade: modalidade },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Salvo com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        function Deletar() {
            var modalidade = { TipoModalidade: document.getElementById("modalidadeDeletar").value, Descricao: document.getElementById("descricaoDeletar").value, Ativo: true, Id: document.getElementById("idDeletar").value };
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Deletar","Modalidade")",
                     data: { modalidade: modalidade },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Deletado com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             default:
                         }
                }
            });
        });
        }

        $(document).ready(function () {
            $('#tabelaPrincipal').dataTable();
        });
    </script>
}