@{
    ViewData["Title"] = "Principal";
}

<head>

</head>
<div class="parallax-container" id="parallaxIndex" style="height:220px">
    <div class="parallax"><img src="~/imgs/img-parallaxx.jfif"></div>
    <div class="row container">
        <div class="col s12 l6">
            <h5 id="bemvindo">Bem vindo, <strong>Diego</strong> ;)</h5>
            <h5 id="data"></h5>
            <p id="temperaturaDados">
                <span id="locale"> </span><br>
                <img id="iconweather" width="60" />
                <span id="icontemperature"><span id="graus"></span> °c</span>
            </p>
        </div>
        <div class="col s12 l6">
            <span class="right" id="horario"><i class="material-icons small" style="position:relative;top:5px">av_timer</i> <span id="horarioAtual"></span> </span>
        </div>
    </div>
</div>
<!-- CONTEUDO DA PAGINA EM SI -->
<div class="row container">
    <div class="col s12 l12">
        <br>
        <h5 class="center">CONSULTA RÁPIDA</h5>
        <div class="divider"></div>
        <br>
    </div>
    <div class="col s12 l4 consultaRapida center">
        <i class="material-icons iconRapido large">attach_money</i>
        @if (ViewBag.Quantidade == 0)
        {
            <h5 id="situacaoAlunos" style="margin-left:60px"><a href="@Url.Action("Index","Mensalidade")" class="linkRapido">Situação de Alunos</a></h5>
        }
        else
        {
            if (ViewBag.Quantidade > 1)
            {
                <h5 id="situacaoAlunos" style="margin-left:60px"><a href="@Url.Action("Index","Mensalidade")" class="linkRapido">Situação de Alunos</a><span class="new badge" data-badge-caption="Pendências" style="background-color: darkred;" id="retornaLenght">@ViewBag.Quantidade</span></h5>
            }
            else
            {
                <h5 id="situacaoAlunos" style="margin-left:60px"><a href="@Url.Action("Index","Mensalidade")" class="linkRapido">Situação de Alunos</a><span class="new badge" data-badge-caption="Pendência" style="background-color: darkred;" id="retornaLenght">@ViewBag.Quantidade</span></h5>
            }
        }
        <p>Consulte a situação de mensalidades de todos os alunos</p>
    </div>
    <div class="col s12 l4 consultaRapida center">
        <i class="material-icons iconRapido large">person_outline</i>
        <h5><a id="matriculaAlunos" href="@Url.Action("Index","Matricula")" class="linkRapido">Alunos e Matrículas</a></h5>
        <p>Consulte todas as matriculas dos alunos</p>
    </div>
    <div class="col s12 l4 consultaRapida center">
        <i class="material-icons iconRapido large">drag_indicator</i>
        <a id="estoque" href="" class="linkRapido"> <h5>Estoque</h5> </a>
        <p>texto texto texto texto texteo texto</p>
    </div>

    <div class="col s12 l12">
        <br>
        <h5 class="center">AULAS DE HOJE</h5>
        <div class="divider"></div>
        <br>
        <table class="centered highlight">
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Aula</th>
                    <th>Professor</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>09:30</td>
                    <td><i class="material-icons" title="Natação"> pool </i></td>
                    <td>Renata</td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td><i class="material-icons" title="Musculação"> fitness_center </i></td>
                    <td>Ricardo</td>
                </tr>
                <tr>
                    <td>15:30</td>
                    <td><i class="material-icons" title="Karate"> sports_kabaddi </i></td>
                    <td>Diego</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('horarioAtual').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout(function () {
            startTime()
        }, 500);
    }
    startTime();

    function verificarData() {
        var dateObj = new Date();
        var month = dateObj.getUTCMonth() + 1; //months from 1-12
        var day = dateObj.getUTCDate();
        var year = dateObj.getUTCFullYear();
        var meses = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Setembro", "Dezembro"];
        var dias = ["Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado", "Domingo"];

        var dayNome = dias[dateObj.getDay()];
        month = meses[dateObj.getMonth()];

        newdate = dayNome + ", " + day + " de " + month;
        document.getElementById('data').innerHTML = newdate;
    }
    verificarData();
</script>