@model IList<Model.Entity.Aula>
<div class="row containerConfigurado">
        @if (Model.Count > 0)
        {
            <table class="highlight centered" id="tabela">
                <thead>
                    <tr>
                        <th>Turma</th>
                        <th>Professor</th>
                        <th>Faixa Etaria</th>
                        <th>Dias da Aula</th>
                        <th>Inicio</th>
                        <th>Final</th>
                        <th>Lista Chamada</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DescricaoTurma</td>
                            <td>@item.NomeColaborador</td>
                            <td>@item.TipoFaixaEtaria</td>
                            <td>@item.DiaDaSemana</td>
                            <td>@item.HorarioInicial</td>
                            <td>@item.HorarioFinal</td>
                            <td>
                                <a id="editarAula" class="btn-floating btn-sm waves-effect waves-light blue modal-trigger" href="#modalEditar" onclick="ModalListaPresenca('@item.TurmaId')"><i class="material-icons">playlist_add_check</i></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
</div>
