@model Model.Entity.Mensalidade
@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        .dropdown-content li > a, .dropdown-content li > span {
            color: #af2405;
        }
    </style>
</head>
<!-- BREADCRUMB -->
<nav class="clean container">
    <div class="nav-wrapper">
        <div class="col s12">
            <span class="left">
                <a id="paginaPrincipal" href="@Url.Action("Index", "Principal")" class="breadcrumb">Principal</a>
                <a href="#" class="breadcrumb">Financeiro</a>
                <a id="paginaMensalidade" href="@Url.Action("Index", "Mensalidade")" class="breadcrumb"><strong>Mensalidades</strong></a>
            </span>
        </div>
    </div>
</nav>



<div class="row container">
    <a id="cadastrarMensalidade" href="#modaCadastrar" class="btn waves-effect waves-light right modal-trigger">Cadastrar Mensalidade</a>

    <div id="modaCadastrar" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="flow-text center">CADASTRAR MENSALIDADE</h4>
            </div>
            <br /><br />

            <div class="col s12 l12">
                <form class="col s12 l12" id="formularioEditar">

                    <div class="input-field col s4">
                        <label for="diaDeVencimento">Dia de Vencimento</label>
                        <br />
                        <input min='1' max='28' type="number" id="diaDeVencimento" value="01" class="validate">
                    </div>


                    <div class="input-field col s4">
                        <label for="quantidadeDeMeses">Quantidade de Meses:</label>
                        <br />
                        <input min='1' max='24' type="number" id="quantidadeDeMeses" value="1" class="validate">
                    </div>

                    <div class="input-field col s4">
                        <label for="valor">Valor</label>
                        <br />
                        <input min='1' type="text" id="valor" placeholder="teste" class="validate" onKeyPress="return(moeda(this,'.',',',event))">
                    </div>

                    <div class="input-field col s6">
                        <a class='dropdown-trigger btn' href='#' data-target='MatriculaCadastrar' id="MatriculaDropDownCadastrar">Selecione uma Matricula</a>
                        <ul id='MatriculaCadastrar' class='dropdown-content'>
                            @foreach (var item in Model.ListaMatricula)
                            {
                                <li><a onclick="editaMatriculaSelecionado('@item.Nome', '@item.Id', 'Cadastrar')">@item.Nome</a></li>
                            }
                        </ul>
                    </div>

                    <div id="modalCadastroMensalidade" class="modal">
                        <div class="modal-content">
                            <h4 class="flow-text center">Mensalidade Cadastrada!</h4>
                            <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="Adicionar()">sair</a>
                        </div>
                    </div>
                    <input id="idEditar" style="display: none;" />
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <a id="fecharCadastrar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
            <a id="cadastrar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Adicionar()">Cadastrar</a>
        </div>
    </div>

</div>



<div class="row container">
    <div class="col s12 l12 ">
        <div class="col s12 l4 ">
            <p class="left" id="mesVigente"> Mês Vigente: <strong id="mes" style="font-size:25px;"></strong> </p>
        </div>
    </div>

    <div class="col s12 l12" id="tabelaGerenciaPagamento">
        <table id="tabelaPagamento" class="highlight centered tabelaPagamento">
            <thead>
                <tr>
                    <th>Pagamento</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Vencimento</th>
                    <th>Valor</th>
                    <th>Status Mensalidade</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var mensalidade in Model.ListaMensalidade)
                {
                    <tr>
                        <td class="enabledBotaoPagamento">
                            @*<a class="btn-floating btn-sm waves-effect waves-light green modal-trigger" href="#modalPagamento" onclick="EditarModal('@mensalidade.Id', '@mensalidade.Matricula.Id', '@mensalidade.Modalidade.Id', '@mensalidade.Turma.Id',
                                '@mensalidade.DataDeVencimento.ToString("yyyy-MM-dd")', '@mensalidade.FormaDePagamento','@mensalidade.StatusDaMensalidade', 'Pagamento', '@mensalidade.Matricula.Nome', '@mensalidade.Modalidade.TipoModalidade', '@mensalidade.Turma.Descricao')"><i class="material-icons">attach_money</i></a>*@
                            <a class="btn-floating btn-sm waves-effect waves-light green modal-trigger" href="#modalPagamento" onclick="EditarModal('@mensalidade.Id', '@mensalidade.Matricula.Id',
        '@mensalidade.DataDeVencimento.ToString("yyyy-MM-dd")', '@mensalidade.FormaDePagamento','@mensalidade.StatusDaMensalidade', 'Pagamento', '@mensalidade.Matricula.Nome', '@mensalidade.Valor', '@mensalidade.DiasVencidos', '@Model.Juros')"><i class="material-icons">attach_money</i></a>
                        </td>
                        <td>
                            @mensalidade.Matricula.Nome
                        </td>
                        <td>
                            @mensalidade.CPF
                        </td>
                        <td>
                            @mensalidade.DataDeVencimento.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @mensalidade.Valor
                        </td>
                        <td class="statusStyle">
                            @String.Join(" ", @System.Text.RegularExpressions.Regex.Split(mensalidade.StatusDaMensalidade, @"(?<!^)(?=[A-Z])"))
                        </td>
                        <td class="enabledDeletarEditar">
                            @*<a class="btn-floating btn-sm waves-effect waves-light yellow modal-trigger" href="#modalEditar" onclick="EditarModal('@mensalidade.Id', '@mensalidade.Matricu@*la.Id', '@mensalidade.Modalidade.Id', '@mensalidade.Turma.Id',
                                '@mensalidade.DataDeVencimento.ToString("yyyy-MM-dd")', '@mensalidade.FormaDePagamento','@mensalidade.StatusDaMensalidade', 'Editar', '@mensalidade.Matricula.Nome', '@mensalidade.Modalidade.TipoModalidade', '@mensalidade.Turma.Descricao', '@mensalidade.Valor')"><i class="material-icons" style="background-color:#f79f00">create</i></a><br />
                                                    <a class="btn-floating btn-sm waves-effect waves-light red modal-trigger" href="#modalDeletar" onclick="EditarModal('@mensalidade.Id', '@mensalidade.Matricula.Id', '@mensalidade.Modalidade.Id', '@mensalidade.Turma.Id',
                                '@mensalidade.DataDeVencimento.ToString("yyyy-MM-dd")', '@mensalidade.FormaDePagamento','@mensalidade.StatusDaMensalidade', 'Deletar', '@mensalidade.Matricula.Nome', '@mensalidade.Modalidade.TipoModalidade', '@mensalidade.Turma.Descricao', '@mensalidade.Valor')"><i class="material-icons">delete_forever</i></a>*@
                            <a id="editarMensalidade" class="btn-floating btn-sm waves-effect waves-light yellow modal-trigger" href="#modalEditar" onclick="EditarModal('@mensalidade.Id', '@mensalidade.Matricula.Id', '@mensalidade.DataDeVencimento.ToString("yyyy-MM-dd")', '@mensalidade.FormaDePagamento','@mensalidade.StatusDaMensalidade', 'Editar', '@mensalidade.Matricula.Nome', '@mensalidade.Valor', '@mensalidade.DiasVencidos', '@Model.Juros')"><i class="material-icons" style="background-color:#f79f00">create</i></a>
                            <a id="deletarMensalidade" class="btn-floating btn-sm waves-effect waves-light red modal-trigger" href="#modalDeletar" onclick="EditarModal('@mensalidade.Id', '@mensalidade.Matricula.Id', '@mensalidade.DataDeVencimento.ToString("yyyy-MM-dd")', '@mensalidade.FormaDePagamento','@mensalidade.StatusDaMensalidade', 'Deletar', '@mensalidade.Matricula.Nome', '@mensalidade.Valor', '@mensalidade.DiasVencidos', '@Model.Juros')"><i class="material-icons">delete_forever</i></a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text center" id="editarMensalidadeDescricao"></h4>
        </div>
        <br /><br />

        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioEditar">


                @*<div class="input-field col s6">
            <a class='dropdown-trigger7 btn' href='#' data-target='modalidadeEditar' id="modalidadeDropDownEditar">Selecione uma Modalidade</a>
            <ul id='modalidadeEditar' class='dropdown-content'>
                @foreach (var item in Model.ListaModalidade)
                {
                    <li><a onclick="editaModalidadeSelecionado('@item.TipoModalidade', '@item.Id', 'Editar')">@item.TipoModalidade</a></li>
                }
            </ul>
        </div>

        <div class="input-field col s6">
            <a class='dropdown-trigger8 btn' href='#' data-target='turmaEditar' id="turmaDropDownEditar">Selecione uma Turma</a>
            <ul id='turmaEditar' class='dropdown-content'>
                @foreach (var item in Model.ListaTurma)
                {
                    <li><a onclick="editaTurmaSelecionado('@item.Descricao', '@item.Id', 'Editar')">@item.Descricao</a></li>
                }
            </ul>
        </div>*@


                @*<div class="input-field col s6">
            <a class='dropdown-trigger9 btn' href='#' data-target='statusEditar' id="statusDropDownEditar">Selecione o Status do Pagamento</a>

            <ul id='statusEditar' class='dropdown-content'>
                @foreach (var item in Model.StatusDasMensalidades)
                {
                    <li><a onclick="editaStatusSelecionado('@item', 'Editar')">@String.Join(" ", @System.Text.RegularExpressions.Regex.Split(item.ToString(), @"(?<!^)(?=[A-Z])"))</a></li>
                }
            </ul>
        </div>*@

                @*<div class="input-field col s6">

            <a class='dropdown-trigger10 btn' href='#' data-target='formaEditar' id="formaDropDownEditar">Selecione a Forma de Pagamento</a>

            <ul id='formaEditar' class='dropdown-content'>
                @foreach (var item in Model.FormasDePagamentos)
                {
                    <li><a onclick="editaFormaSelecionado('@item', 'Editar')">@item</a></li>
                }
            </ul>
        </div>*@

                <div class="input-field col s6">
                    <label for="diaDeVencimento">Dia de Vencimento</label>
                    <br />
                    <input min='1' max='28' type="number" id="diaDeVencimentoEditar" value="01" class="validate">
                </div>

                <div class="input-field col s6">
                    <label for="valor">Valor</label>
                    <br />
                    <input min='1' type="text" id="valorEditar" class="validate" onKeyPress="return(moeda(this,'.',',',event))">
                </div>

                <div class="input-field col s12">
                    <label>
                        <input id="todoMes" type="checkbox" />
                        <span style="color:red; font-weight:600">Alterar Pagamento Para Todos os Meses</span>
                    </label>
                </div>

                <div class="input-field col s6">
                    <a disabled class='dropdown-trigger6 btn' href='#' data-target='MatriculaEditar' id="MatriculaDropDownEditar">Selecione um Matricula</a>
                    <ul id='MatriculaEditar' class='dropdown-content'>
                        @foreach (var item in Model.ListaMatricula)
                        {
                            <li><a onclick="editaMatriculaSelecionado('@item.Nome', '@item.Id', 'Editar')">@item.Nome</a></li>
                        }
                    </ul>
                </div>

                <div id="modalCadastroMensalidade" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Mensalidade Cadastrada!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <a id="fecharEditar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="editar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Editar()">Atualizar</a>
    </div>
</div>


<div id="modalDeletar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text center" id="deletarMensalidadeDescricao"></h4>
        </div>

        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioDeletar">


                <div class="input-field col s6">
                    <a disabled class='dropdown-trigger6 btn' href='#' data-target='MatriculaDeletar' id="MatriculaDropDownDeletar">Selecione um Matricula</a>
                    <ul id='MatriculaDeletar' class='dropdown-content'>
                        @foreach (var item in Model.ListaMatricula)
                        {
                            <li><a onclick="editaMatriculaSelecionado('@item.Nome', '@item.Id', 'Deletar')">@item.Nome</a></li>
                        }
                    </ul>
                </div>

                @*<div class="input-field col s6">
                        <a disabled class='dropdown-trigger7 btn' href='#' data-target='modalidadeDeletar' id="modalidadeDropDownDeletar">Selecione uma Modalidade</a>
                        <ul id='modalidadeDeletar' class='dropdown-content'>
                            @foreach (var item in Model.ListaModalidade)
                            {
                                <li><a onclick="editaModalidadeSelecionado('@item.TipoModalidade', '@item.Id', 'Deletar')">@item.TipoModalidade</a></li>
                            }
                        </ul>
                    </div>

                    <div class="input-field col s6">
                        <a disabled class='dropdown-trigger8 btn' href='#' data-target='turmaDeletar' id="turmaDropDownDeletar">Selecione uma Turma</a>
                        <ul id='turmaDeletar' class='dropdown-content'>
                            @foreach (var item in Model.ListaTurma)
                            {
                                <li><a onclick="editaTurmaSelecionado('@item.Descricao', '@item.Id', 'Deletar')">@item.Descricao</a></li>
                            }
                        </ul>
                    </div>*@


                <div class="input-field col s6">
                    <a disabled class='dropdown-trigger9 btn' href='#' data-target='statusDeletar' id="statusDropDownDeletar">Selecione o Status do Pagamento</a>

                    <ul id='statusDeletar' class='dropdown-content'>
                        @foreach (var item in Model.StatusDasMensalidades)
                        {
                            <li><a onclick="editaStatusSelecionado('@item', 'Deletar')">@String.Join(" ", @System.Text.RegularExpressions.Regex.Split(item.ToString(), @"(?<!^)(?=[A-Z])"))</a></li>
                        }
                    </ul>
                </div>

                <div class="input-field col s6">

                    <a disabled class='dropdown-trigger10 btn' href='#' data-target='formaDeletar' id="formaDropDownDeletar">Selecione a Forma de Pagamento</a>

                    <ul id='formaDeletar' class='dropdown-content'>
                        @foreach (var item in Model.FormasDePagamentos)
                        {
                            <li><a onclick="editaFormaSelecionado('@item', 'Deletar')">@item</a></li>
                        }
                    </ul>
                </div>

                <div class="input-field col s6">
                    <label for="diaDeVencimento">Dia de Vencimento</label>
                    <br />
                    <input disabled min='1' max='28' type="number" id="diaDeVencimentoDeletar" value="01" class="validate">
                </div>

                <div class="input-field col s6">
                    <label for="valor">Valor</label>
                    <br />
                    <input disabled min='1' type="text" id="valorDeletar" class="validate" onKeyPress="return(moeda(this,'.',',',event))">
                </div>

                <div class="input-field col s6">
                    <label>
                        <input id="todoMesDeletar" type="checkbox" />
                        <span style="color:red">Deletar Pagamento Para Todos os Meses</span>
                    </label>
                </div>

                <div id="modalCadastroMensalidade" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Mensalidade Cadastrada!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <a id="fecharDeletar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="deletar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Deletar()">Deletar</a>
    </div>
</div>

<div id="modalPagamento" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text" id="pagarMensalidadeDescricao"></h4>
        </div>

        <div class="col s12 l12">
            <form class="col s12 l12" id="formularioPagamento">


                <div class="input-field col s6">
                    <a disabled class='dropdown-trigger6 btn' href='#' data-target='MatriculaPagamento' id="MatriculaDropDownPagamento">Selecione um Matricula</a>
                    <ul id='MatriculaDropDownPagamento' class='dropdown-content'>
                        @foreach (var item in Model.ListaMatricula)
                        {
                            <li><a>@item.Nome</a></li>
                        }
                    </ul>
                </div>

                <div class="input-field col s6">
                    <a disabled class='dropdown-trigger9 btn' href='#' data-target='statusPagamento' id="statusDropDownPagamento">Selecione o Status do Pagamento</a>

                    <ul id='statusPagamento' class='dropdown-content'>
                        @foreach (var item in Model.StatusDasMensalidades)
                        {
                            <li><a>@String.Join(" ", @System.Text.RegularExpressions.Regex.Split(item.ToString(), @"(?<!^)(?=[A-Z])"))</a></li>
                        }
                    </ul>
                </div>

                <div class="input-field col s6">

                    <label for="valor" id="labelValorAPagar">Valor</label>
                    <br />
                    <input disabled min='1' type="text" id="valorPagamento" class="validate"  onKeyPress="return(moeda(this,'.',',',event))">
                </div>

                <div class="input-field col s6">
                    <label min='2020-01-01' max='2099-12-31' for="diaDeVencimentoPagamento">Data de Vencimento:</label>
                    <br />
                    <input disabled type="date" id="diaDeVencimentoPagamento" name="datadevencimento">
                </div>

                <div class="input-field col s6">

                    <a class='dropdown-trigger11 btn' href='#' data-target='formaPagamento' id="formaDropDownPagamento">Selecione a forma de pagamento</a>

                    <ul id='formaPagamento' class='dropdown-content'>
                        @foreach (var item in Model.FormasDePagamentos)
                        {
                            <li><a onclick="editaFormaSelecionado('@item', 'Pagamento')">@item</a></li>
                        }
                    </ul>
                </div>

                <div id="modalPagamentoMensalidade" class="modal">
                    <div class="modal-content">

                        <h4 class="flow-text center">Mensalidade Paga!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <a id="fecharPagar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="pagar" class="waves-effect waves-light green btn modal-trigger right btnCadastrar" onclick="Pagar()">PAGAR</a>
    </div>
</div>


@section scripts{
    <script>

        let valorId;
        let valorMatricula;
        let valorModalidade;
        let valorTurma;
        let valorVencimento;
        let valorFormaDePagamento;
        let valorStatusDaMensalidade;

        function EditarModal(id, Matricula, datadevencimento, formadepagamento, statusdamensalidade, model, nomeMatricula, valor, diasVencidos, juros) {

                valorId = id;
                valorMatricula = Matricula;
                //valorModalidade = modalidade;
                //valorTurma = turma;
                valorVencimento = datadevencimento;
                valorFormaDePagamento = formadepagamento;
                valorStatusDaMensalidade = statusdamensalidade;
                valorPagamento = valor;


            document.getElementById('MatriculaDropDown' + model).text = nomeMatricula;
            document.getElementById('MatriculaDropDown' + model).MatriculaId = Matricula;

            //document.getElementById('modalidadeDropDown' + model).text = tipomodalidade;
            //document.getElementById('modalidadeDropDown' + model).ModalidadeId = modalidade;
            if (model === 'Pagamento') {
                if (diasVencidos > 0) {
                    var valorDivididoPeloJuros = parseInt(valorPagamento) * (3 / 100);
                    var valorPorDia = valorDivididoPeloJuros / 30;
                    var calculoDiasDeAtraso = valorPorDia * diasVencidos;
                    var resultado = calculoDiasDeAtraso + parseFloat(valorPagamento.replace(',', '.'));
                    document.getElementById('valor' + model).value = resultado.toLocaleString('pt-br', { minimumFractionDigits: 2 });
                    document.getElementById('labelValorAPagar').innerHTML = 'Valor com juros';
                } else {
                    document.getElementById('labelValorAPagar').innerHTML = 'Valor';
                    document.getElementById('valor' + model).value = valorPagamento;
                }
            } else {
                document.getElementById('labelValorAPagar').innerHTML = 'Valor';
                document.getElementById('valor' + model).value = valorPagamento;
            }

            //document.getElementById('turmaDropDown' + model).text = descricao;
            //document.getElementById('turmaDropDown' + model).TurmaId = turma;

            if (document.getElementById('formaDropDown' + model) != null && formadepagamento != " " && formadepagamento != "") {
                document.getElementById('formaDropDown' + model).text = formadepagamento;
            }
            else if (model == "Pagamento") {
                document.getElementById('formaDropDown' + model).text = "Selecione a forma de pagamento"
            }

            if (document.getElementById('statusDropDown' + model) != null) {
                document.getElementById('statusDropDown' + model).text = statusdamensalidade.split(/(?=[A-Z])/).toString().replace(',', ' ').replace(',', ' ').replace(',', ' ').replace(',', ' ').replace(',', ' ').replace(',', ' ');
            }

            if (model != "Pagamento") {
                document.getElementById('diaDeVencimento' + model).value = datadevencimento.split('-')[2];
            }
            else {
                document.getElementById('diaDeVencimento' + model).value = datadevencimento;
            }

            if (model === "Editar") {
            document.getElementById("id" + model).value = id;
            document.getElementById("editarMensalidadeDescricao").innerText = "Editar Mensalidade";
            }
            else if (model === "Pagamento") {
                //document.getElementById("id" + model).value = id;
                document.getElementById("pagarMensalidadeDescricao").innerText = "Pagar Mensalidade";
            }
            else {
                document.getElementById("deletarMensalidadeDescricao").innerText = "Tem certeza que deseja deletar a Mensalidade?";
            }
        }

        function Deletar() {
            var mensalidade = {
                Id: valorId,
                MatriculaId: valorMatricula,
                //ModalidadeId: valorModalidade,
                //TurmaId: valorTurma,
                Dia: document.getElementById("diaDeVencimentoDeletar").value,
                DataDeVencimento: valorVencimento,
                //FormaDePagamento: valorFormaDePagamento,
                StatusDaMensalidade: valorStatusDaMensalidade,
                Valor: document.getElementById("valorDeletar").value,
                EditarTodasMensalidades: document.getElementById('todoMesDeletar').checked
            };

            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Deletar","Mensalidade")",
                     data: { mensalidade: mensalidade},
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Mensalidade(s) Deletada(s) com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             default:
                         }
                }
            });
        });
        }

        function Pagar() {
            var mensalidade = {
                Id: valorId,
                MatriculaId: valorMatricula,
                DataDeVencimento: valorVencimento,
                FormaDePagamento: valorFormaDePagamento,
                StatusDaMensalidade: valorStatusDaMensalidade,
                Valor: valorPagamento
            };

            var mensalidadeEditar = {
                Id: valorId,
                MatriculaId: valorMatricula,
                DataDeVencimento: valorVencimento,
                FormaDePagamento: document.getElementById("formaDropDownPagamento").text != "Selecione a forma de pagamento" ? document.getElementById("formaDropDownPagamento").text : "Debito",
                StatusDaMensalidade: 'Pago',
                Valor: document.getElementById('valorPagamento').value,
                EditarTodasMensalidades: false,
                Dia: valorVencimento.split('-')[2]
            };

            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Editar","Mensalidade")",
                     data: { mensalidade: mensalidade, mensalidadeEditar, mensalidadeEditar },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Mensalidade paga com sucesso!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             default:
                         }
                }
            });
        });
        }

        function Editar() {
            var mensalidade = {
                Id: valorId,
                MatriculaId: valorMatricula,
                //ModalidadeId: valorModalidade,
                //TurmaId: valorTurma,
                DataDeVencimento: valorVencimento,
                FormaDePagamento: valorFormaDePagamento,
                StatusDaMensalidade: valorStatusDaMensalidade,
                Valor: valorPagamento
            };
            var mensalidadeEditar = {
                Id: valorId,
                MatriculaId: document.getElementById('MatriculaDropDownEditar').MatriculaId,
                //ModalidadeId: document.getElementById('modalidadeDropDownEditar').ModalidadeId,
                //TurmaId: document.getElementById('turmaDropDownEditar').TurmaId,
                Dia: document.getElementById("diaDeVencimentoEditar").value,
                DataDeVencimento: valorVencimento,
                FormaDePagamento: " ",
                StatusDaMensalidade: valorStatusDaMensalidade == "Pago" ? "Pago" : "EmHaver",
                Valor: document.getElementById("valorEditar").value,
                EditarTodasMensalidades: document.getElementById('todoMes').checked,
            };

            $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Editar","Mensalidade")",
                     data: { mensalidade: mensalidade, mensalidadeEditar: mensalidadeEditar },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                                 break;
                              case "Data de Vencimento Inválida":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Mensalidade(s) editada(s) com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        function Adicionar() {
            var mensalidade = {
                MatriculaId: document.getElementById('MatriculaDropDownCadastrar').MatriculaId,
                //ModalidadeId: document.getElementById('modalidadeDropDownCadastrar').ModalidadeId,
                //TurmaId: document.getElementById('turmaDropDownCadastrar').TurmaId,
                Dia: document.getElementById("diaDeVencimento").value,
                QuantidadeDeMeses: document.getElementById("quantidadeDeMeses").value,
                Valor: document.getElementById("valor").value,
                FormaDePagamento: ' ',
                StatusDaMensalidade: 'EmHaver'

            };

             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Adicionar","Mensalidade")",
                     data: { mensalidade: mensalidade},
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                                 break;
                              case "Data de Vencimento inválida":
                                 M.toast({ html: dados, classes: 'rounded orange' });
                             break;
                             case true:
                                 M.toast({ html: 'Salvo com sucesso!!!', classes: 'rounded green', completeCallback: function(){window.location.reload()} });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
        }

        $(document).ready(function () {
            $('#tabelaPagamento').DataTable();
        });


        $(document).keypress(
            function (event) {

                if (event.which == '13') {
                    event.preventDefault();
                }
            });

        $(document).ready(function () {
            for (i = 0; i < document.getElementsByClassName('statusStyle').length; i++) {
                var status = document.getElementsByClassName('statusStyle')[i].innerText;

                switch (status) {
                    case 'Pago':
                        document.getElementsByClassName('statusStyle')[i].style.color = "#139E26";
                        document.getElementsByClassName('enabledBotaoPagamento')[i].children[0].setAttribute("disabled", "disabled");
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[0].children[0].style.backgroundColor = "";
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[0].setAttribute("disabled", "disabled");
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[1].setAttribute("disabled", "disabled");
                        break;
                    case 'Em Haver':
                        document.getElementsByClassName('statusStyle')[i].style.color = "#F68300";
                        break;
                    case 'Pago Com Atraso':
                        document.getElementsByClassName('statusStyle')[i].style.color = "#19DF33";
                        document.getElementsByClassName('enabledBotaoPagamento')[i].children[0].setAttribute("disabled", "disabled");
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[0].children[0].style.backgroundColor = "";
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[0].setAttribute("disabled", "disabled");
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[1].setAttribute("disabled", "disabled");
                        break;
                    case 'Vencido':
                        document.getElementsByClassName('statusStyle')[i].style.color = "red";
                        //document.getElementsByClassName('enabledBotaoPagamento')[i].children[0].setAttribute("disabled", "disabled");
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[0].children[0].style.backgroundColor = "";
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[0].setAttribute("disabled", "disabled");
                        document.getElementsByClassName('enabledDeletarEditar')[i].children[1].setAttribute("disabled", "disabled");
                        break;
                    case 'Proximo Da Data De Vencimento':
                        document.getElementsByClassName('statusStyle')[i].style.color = "#DCE224";
                        break;
                }
            }
        });

        $(document).ready(function(){
            var month = new Date().getMonth() + 1;
        switch (month) {
          case 1:
            document.getElementById("mes").innerHTML  = "Janeiro";
            break;
          case 2:
             document.getElementById("mes").innerHTML  = "Fevereiro";
            break;
          case 3:
            document.getElementById("mes").innerHTML  = "Março";
            break;
          case 4:
            document.getElementById("mes").innerHTML  = "Abril";
            break;
          case 5:
            document.getElementById("mes").innerHTML  = "Maio";
            break;
          case 6:
            document.getElementById("mes").innerHTML  = "Junho";
            break;
          case 7:
            document.getElementById("mes").innerHTML  = "Julho";
            break;
          case 8:
            document.getElementById("mes").innerHTML  = "Agosto";
            break;
          case 9:
            document.getElementById("mes").innerHTML  = "Setembro";
            break;
          case 10:
            document.getElementById("mes").innerHTML  = "Outubro";
            break;
          case 11:
            document.getElementById("mes").innerHTML  = "Novembro";
            break;
          case 12:
            document.getElementById("mes").innerHTML  = "Dezembro";
            break;
            }
        });


        function editaMatriculaSelecionado(Matricula, id, model) {
            document.getElementById('MatriculaDropDown' + model).text = Matricula;
            document.getElementById('MatriculaDropDown' + model).MatriculaId = id;
        }

        function editaModalidadeSelecionado(tipomodalidade, id, model) {
            document.getElementById('modalidadeDropDown' + model).text = tipomodalidade;
            document.getElementById('modalidadeDropDown' + model).ModalidadeId = id;
        }

        function editaTurmaSelecionado(descricao, id, model) {
            document.getElementById('turmaDropDown' + model).text = descricao;
            document.getElementById('turmaDropDown' + model).TurmaId = id;
        }

        function editaFormaSelecionado(formadepagamento, model) {
            document.getElementById('formaDropDown' + model).text = formadepagamento;
        }

        function editaStatusSelecionado(statusdamensalidade, model) {
            document.getElementById('statusDropDown' + model).text = statusdamensalidade.split(/(?=[A-Z])/).toString().replace(',', ' ').replace(',', ' ').replace(',', ' ').replace(',', ' ').replace(',', ' ').replace(',', ' ');
        }

        function moeda(a, e, r, t) {
            let n = ""
                , h = j = 0
                , u = tamanho2 = 0
                , l = ajd2 = ""
                , o = window.Event ? t.which : t.keyCode;
            if (13 == o || 8 == o)
                return !0;
            if (n = String.fromCharCode(o),
                -1 == "0123456789".indexOf(n))
                return !1;
            for (u = a.value.length,
                h = 0; h < u && ("0" == a.value.charAt(h) || a.value.charAt(h) == r); h++)
                ;
            for (l = ""; h < u; h++)
                -1 != "0123456789".indexOf(a.value.charAt(h)) && (l += a.value.charAt(h));
            if (l += n,
                0 == (u = l.length) && (a.value = ""),
                1 == u && (a.value = "0" + r + "0" + l),
                2 == u && (a.value = "0" + r + l),
                u > 2) {
                for (ajd2 = "",
                    j = 0,
                    h = u - 3; h >= 0; h--)
                    3 == j && (ajd2 += e,
                        j = 0),
                        ajd2 += l.charAt(h),
                        j++;
                for (a.value = "",
                    tamanho2 = ajd2.length,
                    h = tamanho2 - 1; h >= 0; h--)
                    a.value += ajd2.charAt(h);
                a.value += r + l.substr(u - 2, u)
            }
            return !1
        }
    </script>

}